.topContainer {
    border: solid black 1pt;
    width: 100vw;
    height: 400px;
    background-color: rgb( 191, 10, 48);
    
}
.Text {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center  
}
.bottomContainer {
  border: solid black 1pt; 
  height: 375px; 
  margin-top: 200px;
}
.image {
    position: relative;  

}
img {
    position: absolute;
    top: -150px;
    left: 37vw;
}
p {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: flex;
    justify-content: center;
  }
  .menu {
    background-color: #ffd700;
  
    width: fit-content;
    font-size: 16pt;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
  }
  .menu > a {
    color: #bf0a30;
  }
  .menu > a:hover {
    color: #8a0b2d;
  }

