.topContainer {
    border: solid black 1pt;
    width: 100vw;
    height: 400px;
    background-color: rgb( 191, 10, 48);
    
}
.Text {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center  
}
.bottomContainer {
  border: solid black 1pt; 
  height: 375px; 
  margin-top: 200px;
}
.image {
    position: relative;  

}
img {
    position: absolute;
    top: -150px;
    left: 37vw;
}


